a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container-logo {
  background-color: #314d4d;
  border-radius: 12px;
}

.over {
  overflow-x: hidden;
}

.md-padding {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}