body {
  background-color: #eeeeee;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.text-reset {
  color: inherit !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {

  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }

  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }

  .table-dark {
    color: inherit;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody+tbody {
    border-color: #dee2e6;
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}






.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  width: 100%;
}



#content {
  width: 100%;
  padding: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 40px;
  margin-bottom: 80px;
  /* height: calc(100vh); */
}

.btn.btn-primary {
  background: #3445b4;
  border-color: #3445b4;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #3445b4 !important;
  border-color: #3445b4 !important;
}



.form-control {
  height: 40px !important;
  background: #fff;
  color: #000;
  font-size: 13px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: transparent;
}

.form-control:focus,
.form-control:active {
  border-color: #000;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.subscribe-form .form-control {
  background: #3b4ec6;
}

a {
  text-decoration: none;
}

.table-wrap {
  overflow-y: auto;
  height: 80vh;
}

.table {
  min-width: 1000px !important;
  width: 100%;
  background: #fff;
}

.table thead.thead-primary {}

.table thead th {
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  color: #fff;
  background: #009943;
}

.table tbody tr {
  margin-bottom: 10px;
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #f8f9fd;
  font-size: 14px;
  vertical-align: bottom;
}

.table-wrap thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-wrap tbody {
  overflow-y: auto;
  max-height: calc(100% - 40px);
}



/* PIATTO */
.piatto {
  height: 60px;
  width: 60px;
  /* background-color: black; */
}

.piatto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.piatti {
  width: 100%;
}