@media screen and (max-width:1100px){
    
    .container-foto {
        display: none;
    
    }
}

a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .container-logo {
    background-color: #314d4d;
    border-radius: 12px;
  }